<table width="994" height="100" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align:center;line-height:200%;">
<tr>
<td>{$ad2}</td>
</tr>
<tr>
<td>
<a href="{$siteurl}" target="_blank">{$sitename}</a> (<a href="http://www.miibeian.gov.cn/" target="_blank">{$beian}</a>)&nbsp; 版权所有&nbsp; {$ad3} <br />
Powered by <a href="http://www.fkduo.cn" target="_blank"><font color="blue">FKDUO</font></a>&nbsp;{$version} &copy; All rights reserved. </td>
</tr>
</table>
</body>
</html>