{xingTemplate head}
{xingTemplate $listtop}

<!-- /插入论坛头部模块 --> 
<!-- 插入发表主题表单 -->
<table id="reply">
<form name="input" enctype="multipart/form-data" method="POST" action="postok.php?bk={$bk}">
<tr>
<th colspan="2" class="t">发表主题 <a href=#top><img
src=html/img/top.gif
border=0></a></th>
</tr>
<tr>
<th width="125">主题：</th>
<td><input type="TEXT" name="title" size="50" class="input" /> <input
type="hidden" name="areaid" value="1" /> <font color="#FF0000">主题不可以使用UBB代码</font></td>
</tr>
<tr>
<th width="125"></th>
<td></td>
</tr>

<tr>
<th width="125">话题归类：</th>
<td width="650">
<style>
#reply tr td label{display:block; width:90px; height:22px; overflow:Hidden; float:left; }
</style> 
<label><input type="radio" name=sortid value="" checked >无分类</label>  
{while ($row=mysql_fetch_array($query)) }
<label><input type="radio" name=sortid value="{$row[id]}" >{$row[name]}</label> 
{/while}
</td>
</tr>

<!-- 插入发贴文件 -->
<script language="JavaScript" src="html/js/postFunction.js"></script>
<script language="JavaScript" src="html/js/replyIcons.js"></script>
<SCRIPT language=JavaScript>
function hideAllProp() {
var obj=MM_findObj('propInput6');
if (obj!=null)
{
obj.style.display='none';
}
obj=MM_findObj('propInput9');
if (obj!=null)
{
obj.style.display='none';
}
obj=MM_findObj('propInput10');
if (obj!=null)
{
obj.style.display='none';
}
obj=MM_findObj('propInput11');
if (obj!=null)
{
obj.style.display='none';
}
}
function showProp(propId) {
var obj=MM_findObj('propInput' + propId);
obj.style.display=''; 
obj=MM_findObj('propInput');
obj.style.display='';
}
function showPropInput(propId) {
switch (propId) {
case "6":
hideAllProp();
showProp(propId);
break;
case "9":
hideAllProp();
showProp(propId);
break;
case "10":
hideAllProp();
showProp(propId);
break;
case "11":
hideAllProp();
showProp(propId);
break;
default:
var obj=MM_findObj('propInput');
obj.style.display='none';
break;
}
}
var clubVoteId = 5;
function addOption(tabId)
{
if( clubVoteId < 10 ){
clubVoteId++;
var objTab= document.getElementById(tabId);
var newTr = objTab.insertRow(objTab.rows.length);
var newTd = newTr.insertCell(0);
var data = '&nbsp;'+clubVoteId+'：&nbsp;<input name=q'+clubVoteId+' type=text id=q'+clubVoteId+' size=50>';
newTd.bgColor = "#f9f9f9"; 
newTd.height = 15; 
newTd.innerHTML = data;
is_choose('voteMulti');
}else{
alert('请注意最多添加10个选项!');
return;
}
}
function is_choose(name){
obj = document.getElementsByName(name);
objvote = document.getElementById("voteMultiTag");
if(typeof(obj[0]) !="undefined"){
if( obj[0].checked){
objvote.innerHTML = '';
var cityNode = document.createElement('select');
cityNode.setAttribute('id','voteMultiLimit');
cityNode.setAttribute('name','voteMultiLimit');
for( i = 1 ; i < clubVoteId ; i++){
var oOption = document.createElement("option");
oOption.value = i;
oOption.text = "最多选"+i+"项" ;
cityNode.options.add(oOption);
}
objvote.appendChild(cityNode);
}else{
objvote.innerHTML = '';
}
}
}
window.onload = function() { 
is_choose('voteMulti'); 
}
</SCRIPT>
<tr>
<td bgcolor="#F9F9F9">功能选项</td>
<td bgcolor="#F9F9F9"><input type="checkbox" name="replyview" value="1" /> 回复可见</td>
</tr>
<tr id="propInput" style="display:none">
<td bgcolor="#F9F9F9" height="25">使用说明</td>
<td bgcolor="#F9F9F9" id="propInput6" style="display:none">
使用后你的信息将会在贴子里隐藏，该道具消耗PP值 <font color=red>15</font> 点
</td>
<td bgcolor="#F9F9F9" id="propInput9" style="display:none">
产生活动报名贴，楼主可看到报名参加人数、联系方式、备注内容，方便活动召集管理。使用该道具消耗PP值 <font color=red>5</font> 点，请填写该活动报名人数上限<br>
最大参加人数：<input name="reportCount" type="text" id="reportCount" size="8">
<br>
</td>
<td bgcolor="#F9F9F9" id="propInput10" style="display:none">
产生投票贴，最多有10个投票选项，请填写投票内容。使用该道具消耗PP值 <font color=red>10</font> 点<br>
<table id = "vote" width="100%">
<TR>
<TD bgColor=#f9f9f9>&nbsp;投票主题：<input name="voteTitle" type="text" id="voteTitle" size="50"> 
可多选
<input name="voteMulti" type="checkbox" id="voteMulti" value="1" onclick="is_choose('voteMulti')" checked>
<span id="voteMultiTag"></span>
</TD>
</TR>
<TR>
<TD height="15" bgColor=#f9f9f9>&nbsp;请在下面输入投票的选项，最多10项，不足请留空。</TD>
</TR>
<TR>
<TD height="15" bgColor=#f9f9f9>&nbsp;1：
<input name="q1" type="text" id="q1" size="50"></TD>
</TR>
<TR>
<TD height="15" bgColor=#f9f9f9>&nbsp;2：
<input name="q2" type="text" id="q2" size="50"></TD>
</TR>
<TR>
<TD height="15" bgColor=#f9f9f9>&nbsp;3：
<input name="q3" type="text" id="q3" size="50"></TD>
</TR>
<TR>
<TD height="15" bgColor=#f9f9f9>&nbsp;4：
<input name="q4" type="text" id="q4" size="50"></TD>
</TR>
<TR>
<TD height="15" bgColor=#f9f9f9 >&nbsp;5：
<input name="q5" type="text" id="q5" size="50"><input type="button" value="添加选项" onclick="addOption('vote')"></TD>
</TR>
</TR>
</table>
</td>
<td bgcolor="#F9F9F9" id="propInput11" style="display:none">
产生奖励贴，发贴消耗 <font color=red>10</font> 点PP<br><font color=red>注意：</font>发贴成功后系统会同时在你的PP中扣除用作奖励的PP值。一个有奖贴中对单个用户ID的最大奖励值为 <font color=red>20</font> 点PP</font><br>
用于奖励的积分值：<input name="awardNum" type="text" id="awardNum" size="3">
</td>
</tr>
<tr>
<td width="125" bgcolor="#F9F9F9">消息图标:<br>
（点击图标可以在发言中贴图）</td>
<td bgcolor="#F9F9F9"><script language="JavaScript">
ToolBar.outputExp();
</script></td>
</tr>
<tr id="codebuttons">
<td bgcolor="#F9F9F9">代码辅助模式：<br>
<input onclick="chmode('2')" type="RADIO" checked value="2" name="mode">
提示插入<br>
<input onclick="chmode('0')" type="RADIO" value="0" name="mode">
直接插入<br>
<input onclick="chmode('1')" type="RADIO" value="1" name="mode">
帮助信息</td>
<td bgcolor="#F9F9F9"><a href="javascript:bold()"><img
alt=插入粗体文本
src="html/ico/bb_bold.gif"
border="0"></a> <a href="javascript:hyperlink()"><img alt=插入超级链接
src="html/ico/bb_url.gif"
border="0"></a> <a href="javascript:image()"><img alt=插入图像
src="html/ico/bb_image.gif"
border="0"></a> <a href="javascript:quote()"><img alt=插入引用
src="html/ico/bb_quote.gif"
border="0"></a>  <a href="javascript:flash()"><img alt=插入FLASH
src="html/ico/bb_flash.gif"
border="0"></a> <br>
</td>
</tr>
<tr>
<td bgcolor="#F9F9F9">内容区:<br>
(最大长度8000字节)<a href="javascript:checklength(document.input);">[字数检查]</a><br>
[<a href="javascript:banWord(document.input);"><font color=red>禁词检查</font></a>]</td>
<td bgcolor="#F9F9F9"><textarea name="message" id='message'
cols="60" rows="13" class="input" onkeydown="javascript: ctlent();"
onkeyup="javascript: storeCaret(this);"
onclick="javascript: storeCaret(this);"
onselect="javascript: storeCaret(this);"></textarea></td>
</tr>
<tr>
<td bgcolor="#F9F9F9">上传贴图/附件</td>

{if ($_SESSION[picallow]>=1)}
<td bgcolor="#F9F9F9">
本版对 HP>=7的网友提供上传贴图功能,图片自动贴在文字的最后。图片支持jpg、jpeg、gif格式,图片大小允许300k以内。本版图片显示宽度为600像素，点击图片可欣赏原始大小图片。<br>
<!-- <input name="userfile1" type="FILE" class="input" > -->
<input name="upfile" type="file" class="input" >

&nbsp;&nbsp;[<a href="#" target="_blank"><font color=red>如何发图</font></a>] 
在本版块你今天还可以发图 <font color=red><b>{$_SESSION[picallow]}</b></font>张。
</td>

{else}
<td bgcolor="#F9F9F9">
本版对 HP>=7的网友提供上传贴图功能,图片自动贴在文字的最后。图片支持jpg、jpeg、gif格式,图片大小允许300k以内。本版图片显示宽度为600像素，点击图片可欣赏原始大小图片。<br>
<input name="userfile1" type="FILE" class="input"disabled >
&nbsp;&nbsp;[<a href="#" target="_blank"><font color=red>如何发图</font></a>] 
HP未满7点，或当日额度用完，暂无法上图。请查看<a href="#"><b><font color="blue">升级说明</font></b></a>
</td>
{/if}

</tr>
<!-- 插入发贴文件 -->
<tr>
<th></th>
<td><input type="hidden" name="_SendTopicBtn" value="1">
<input type="button" name="sendMessageBtn" id="sendMessageBtn"
value="发表话题" class="button" onclick="validate()"> <input
type="reset" name="Submit22" value="清除字段" class="button"></td>
</tr>
<input type="hidden" name="bk" value="{$bk}"/>
</form>
</table>
<!-- /插入发表主题表单 --> </div>
<!-- /左边 --> <!-- 右边 -->
{xingTemplate right}
<!-- /右边 --> <br class="nof" />
</div>
<!-- /主要框架 -->
<!-- 插入尾部 -->
{xingTemplate foot}