# 将 RewriteEngine 模式打开
RewriteEngine On

# 修改以下语句中的 /fkduo 为你的论坛目录地址，如果程序放在根目录中，请将 /fkduo 修改为 /
RewriteBase /fkduo

# Rewrite 系统规则请勿修改
RewriteRule ^loop,([0-9]+),([0-9]+)\.html$ loop.php?bk=$1&now=$2
RewriteRule ^loop2,([0-9]+),([0-9]+),([0-9]+)\.html$ loop2.php?bk=$1&cid=$2&now=$3