{xingTemplate head}
<!-- 插入头部页面 -->
<table width="975" border="0" align="center" cellpadding="0" cellspacing="0" class="forumbg">
<tr>
<td width="2" class="topbg"></td>
<td align="center" valign="top"><br>
<br>
<center>
<table width="800" border="0" cellspacing="0" cellpadding="0">
<tr>
<td style="text-align:left" align="center" ><b>
非常感谢，您的信息已经发布，现在将转入相应内容。
</b> <br>
<br><br>
[ <a href="{$ghgh}" ><font color="blue">点击返回帖子</font></a> ][ <a href="{url($_GET['bk'])}" >点击返回主题列表</a> ]
<br>
<br>
如果您的浏览器5秒内没有跳转，请点击 <a href="{$ghgh}"><font color="blue">这里</font></a> 返回<br>
或返回 <a href="{$siteurl}"><font color="blue">社区首页</font></a>。</td>


</tr>
</table>
</center> <table width="5%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="8"></td>
</tr>
</table></td>
<td width="1" class="topbg"></td>
</tr>
</table>
<table width="975" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td class="topbg"></td>
</tr>
</table>
<!-- 插入尾部 -->
{xingTemplate foot}
<!-- 插入尾部 -->