<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$mailsubject}</title>
</head>

<body>
<p>Email验证说明<br />
----------------------------------------------------------------------</p>
<p>您尝试注册{$sitename}，我们需要对您的Email地址进行有效性验证以避免垃圾邮件或地址被滥用。</p>
<p>请点击下面的链接进入填写个人信息,以完成最后的注册步骤：</p>
<p><a href="{$siteurl}member.php?action=activate&amp;id={$id}&amp;code={$code}">{$siteurl}member.php?action=act&amp;id={$id}&amp;code={$code}</a></p>
<p>(如果上面不是链接形式，请将地址手工粘贴到浏览器地址栏再访问)</p>
<p>感谢您的访问，祝您使用愉快！</p>
<p>此致</p>
<p>{$sitename} 管理团队.<br />
  {$siteurl}</p>
</body>
</html>
