{xingTemplate head}
<!-- /论坛导航 -->
<link href="html/css/myhome.css" rel="stylesheet" type="text/css" />

<!-- main -->
<div class="mainCon fix">

<!-- 注册wrapper -->
<dl id="fkduoRegBox">
<form action="getpassword.php?action=getpass" method="post" name="form1" onsubmit="return checkSubmit();">
<dt class="t">取回用户密码</dt>
<dd class="c">
<!-- 表单 -->
<dl id="fkduoRegFormWrapper">
<dt class="subT">&nbsp;如果您忘记密码的话，请执行此操作！</dt>
<dd class="subC">
<table class="myDetialForm">
<tr>
<th><label for="logname">用户名</label></th>
<td><input type="text" id="logname" class="inputText" name="logname" /> &nbsp;&nbsp;
<span id="emailInf" class=""inf_normal"">&nbsp; </span></td>
</tr>

<tr>
<th><label for="email">电子邮件</label></th>
<td><input type="text" id="email" class="inputText" name="email" /> &nbsp;&nbsp;
<input type="submit" name="Submit" value="取 回 密 码" accesskey="6">
<span id="emailInf" class=""inf_normal"">&nbsp; </span></td>
</tr>
</table>
</dd>
</dl>
<span id="submitInf" class="inf_normal"></span>
<!-- /表单 -->
</dd>
<dd class="submit">我们会把相关信息发送到您的邮箱.
</dd>
</form>
</dl>
<!-- 注册wrapper -->
</div> <!-- /main -->
<!-- 页脚 -->
{xingTemplate foot}
<!-- /页脚 -->