
<div id="fkduo-login-wrapper">
<!-- 搜索 -->
<div id="fkduo-loglink">
<a href="{$siteurl}"><em>{$sitename}</em></a>
</div>
<div id="fkduo-login">
<form action="log.php?action=log" method="post" name="loginform" id="fkduo-login-form">
<fieldset>
<legend>
登陆论坛
</legend>
<label for="user">
用户
</label>
<input id="user" name="logname" type="text" class="input" value="" />
<label for="pwd">
密码
</label>
<input id="pwd" name="pass" type="password" class="input" />

<input type="submit" name="Submit" class="btn" value="登 录" />
<input type="button" name="Submit" class="btn" value="注 册" onclick="window.location.href='reg.php';" />
<a href="getpassword.php">找回密码</a>
<a href="reg.php" style="color:#F00">欢迎您前来注册！</a>
<a href="#" class="map">地图</a>
<a href="#" class="help">帮助</a>
</fieldset>
</form>
</div>
<!-- 搜索 -->
</div>