<div id="fkduo-login-wrapper">
<!-- 搜索 -->
<div id="fkduo-loglink">
<a href="{$siteurl}"><em>{$sitename}</em></a>
</div>
<div id="fkduo-loginfo">
[欢迎回来, <a href="my.php?action=myinfo" title="点击进入MyHome">
<strong>{$_SESSION[logname]}</strong><img src="html/img/authUser.gif" alt="认证会员"></a>] [<a href="log.php?action=out">退出</a>]
<img src="html/img/hp.gif" />&nbsp;{$_SESSION[hp]}
<img src="html/img/pp.gif" />&nbsp;{$_SESSION[pp]}
<div id="fkduo-navmy">
<a href="my.php?action=mysms"><img src="html/img/logico2.gif" />我的短信</a>
<a href="my.php?action=myfav"><img src="html/img/logico3.gif" />我的收藏</a>
<a href="my.php?action=mypost"><img src="html/img/logico5.gif"/>我的贴子</a>
<a href="my.php?action=myinfo"><img src="html/img/logico1.gif" />个人资料</a>
</div>
<a href="#" class="help">帮助</a>
</div>
<!-- 搜索 -->
</div>