{xingTemplate head}
<!-- /论坛导航 -->
<link href="html/css/myhome.css" rel="stylesheet" type="text/css" />

<!-- main -->
<div class="mainCon fix">

<!-- 注册wrapper -->
<dl id="fkduoRegBox">
<form action="log.php?action=log" method="post" name="form1" onsubmit="return checkSubmit();">
<dt class="t">用户登陆</dt>
<dd class="c">
<!-- 表单 -->
<dl id="fkduoRegFormWrapper">
<dt class="subT">基本信息(必填)</dt>
<dd class="subC">
<table class="myDetialForm">
<tr>
<th><label for="userName">用户名</label></th>
<td><input type="text" id="logname" class="inputText" name="logname" /> 
<span id="userNameInf" class="inf_normal">&nbsp; </span></td>
</tr> 

<tr>
<th><label for="newPwd">密码</label></th>
<td><input type="password" id="password" class="inputText" name="pass" /> <span id="passwordInf" class="inf_normal">&nbsp; <a href="reg.php">我要注册</a>&nbsp;<a href="getpassword.php">找回密码</a></span></td>
</tr>
</table>
</dd>
</dl>
<span id="submitInf" class="inf_normal"></span>
<!-- /表单 -->
</dd>
<dd class="submit">
<label>
<input type="submit" name="Submit" value="登 录" accesskey="3">
</label>
</dd>
</form>
</dl>
<!-- 注册wrapper -->
</div> <!-- /main -->
<!-- 页脚 -->
{xingTemplate foot}
<!-- /页脚 -->