{if ($_SESSION[logname])}
<table id="reply" width="100%">
<form name="input" enctype="multipart/form-data" method="post" action="feifuok.php?bk={$bk}&cid={$cid}">
<tr>
<th colspan="2" class="t">回复主题 <a class="return" href="{url($bk)}"><font
color="#FFFFFF">[<u> 返回版面 </u>]</font></a> <a href=#top><img
src=html/img/top.gif
border=0></a></th>
</tr>
<tr>
<th>主题：</th>
<td>{$row2[title]}&nbsp;&nbsp;<input type="checkbox" name="checkbox" value="checkbox" />收藏本贴</td>
</tr>
<!-- 插入发贴文件 -->
<script language="JavaScript" src="html/js/postFunction.js"></script>
<script language="JavaScript" src="html/js/replyIcons.js"></script>
<SCRIPT language=JavaScript>
function hideAllProp() {
var obj=MM_findObj('propInput6');
if (obj!=null)
{
obj.style.display='none';
}
obj=MM_findObj('propInput9');
if (obj!=null)
{
obj.style.display='none';
}
obj=MM_findObj('propInput10');
if (obj!=null)
{
obj.style.display='none';
}
obj=MM_findObj('propInput11');
if (obj!=null)
{
obj.style.display='none';
}
}
function showProp(propId) {
var obj=MM_findObj('propInput' + propId);
obj.style.display=''; 
obj=MM_findObj('propInput');
obj.style.display='';
}
function showPropInput(propId) {
switch (propId) {
case "6":
hideAllProp();
showProp(propId);
break;
case "9":
hideAllProp();
showProp(propId);
break;
case "10":
hideAllProp();
showProp(propId);
break;
case "11":
hideAllProp();
showProp(propId);
break;
default:
var obj=MM_findObj('propInput');
obj.style.display='none';
break;
}
}
var clubVoteId = 5;
function addOption(tabId)
{
if( clubVoteId < 10 ){
clubVoteId++;
var objTab= document.getElementById(tabId);
var newTr = objTab.insertRow(objTab.rows.length);
var newTd = newTr.insertCell(0);
var data = '&nbsp;'+clubVoteId+'：&nbsp;<input name=q'+clubVoteId+' type=text id=q'+clubVoteId+' size=50>';
newTd.bgColor = "#f9f9f9"; 
newTd.height = 15; 
newTd.innerHTML = data;
is_choose('voteMulti');
}else{
alert('请注意最多添加10个选项!');
return;
}
}
function is_choose(name){
obj = document.getElementsByName(name);
objvote = document.getElementById("voteMultiTag");
if(typeof(obj[0]) !="undefined"){
if( obj[0].checked){
objvote.innerHTML = '';
var cityNode = document.createElement('select');
cityNode.setAttribute('id','voteMultiLimit');
cityNode.setAttribute('name','voteMultiLimit');
for( i = 1 ; i < clubVoteId ; i++){
var oOption = document.createElement("option");
oOption.value = i;
oOption.text = "最多选"+i+"项" ;
cityNode.options.add(oOption);
}
objvote.appendChild(cityNode);
}else{
objvote.innerHTML = '';
}
}
}
window.onload = function() { 
is_choose('voteMulti'); 
}
</SCRIPT>




<tr id="propInput" style="display:none">
<td bgcolor="#F9F9F9" height="25">使用说明</td>
<td bgcolor="#F9F9F9" id="propInput6" style="display:none">
使用后你的信息将会在贴子里隐藏，该道具消耗PP值 <font color=red>15</font> 点
</td>
</tr>

<tr>
<td width="125" bgcolor="#F9F9F9">消息图标:<br>
（点击图标可以在发言中贴图）</td>
<td bgcolor="#F9F9F9"><script language="JavaScript">
ToolBar.outputExp();
</script></td>
</tr>
<tr id="codebuttons">
<td bgcolor="#F9F9F9">代码辅助模式：<br>
<input onclick="chmode('2')" type="RADIO" checked value="2" name="mode">
提示插入<br>
<input onclick="chmode('0')" type="RADIO" value="0" name="mode">
直接插入<br>
<input onclick="chmode('1')" type="RADIO" value="1" name="mode">
帮助信息</td>
<td bgcolor="#F9F9F9"><a href="javascript:bold()"><img
alt=插入粗体文本
src="html/ico/bb_bold.gif"
border="0"></a> <a href="javascript:hyperlink()"><img alt=插入超级链接
src="html/ico/bb_url.gif"
border="0"></a> <a href="javascript:image()"><img alt=插入图片
src="html/ico/bb_image.gif"
border="0"></a> <a href="javascript:quote()"><img alt=插入引用
src="html/ico/bb_quote.gif"
border="0"></a> <a href="javascript:flash()"><img alt=插入FLASH
src="html/ico/bb_flash.gif"
border="0"></a> <br>
</td>
</tr>
<tr>
<td bgcolor="#F9F9F9">内容区:<br>
(最大长度8000字节)<a href="javascript:checklength(document.input);">[字数检查]</a><br>
[<a href="javascript:banWord(document.input);"><font color=red>禁词检查</font></a>]</td>
<td bgcolor="#F9F9F9"><textarea name="message" id='message'
cols="60" rows="8" class="input" onkeydown="javascript: ctlent();"
onkeyup="javascript: storeCaret(this);"
onclick="javascript: storeCaret(this);"
onselect="javascript: storeCaret(this);"></textarea></td>
</tr>
<tr>
<td bgcolor="#F9F9F9">上传贴图/附件</td>

{if ($_SESSION[picallow]>=1)}
<td bgcolor="#F9F9F9">
本版对 HP>={$hplower}的网友提供上传贴图功能,图片自动贴在文字的最后。图片支持jpg、gif格式,图片大小允许{$max_file_size}k以内。本版图片显示宽度为600像素，点击图片可欣赏原始大小图片。<br>
<!-- <input name="userfile1" type="FILE" class="input" > -->
<input name="upfile" type="file" class="input" >

&nbsp;&nbsp;[<a href="#" target="_blank"><font color=red>如何发图</font></a>] 
在本版块你今天还可以发图 <font color=red><b>{$_SESSION[picallow]}</b></font>张。
</td>

{else}
<td bgcolor="#F9F9F9">
本版对 HP>=7的网友提供上传贴图功能,图片自动贴在文字的最后。图片支持jpg、jpeg、gif格式,图片大小允许300k以内。本版图片显示宽度为600像素，点击图片可欣赏原始大小图片。<br>
<input name="userfile1" type="FILE" class="input"disabled >
&nbsp;&nbsp;[<a href="#" target="_blank"><font color=red>如何发图</font></a>] 
HP未满7点，或当日额度用完，暂无法上图。请查看<a href="#"><b><font color="blue">升级说明</font></b></a>
</td>
{/if}



</tr>
<!-- 插入发贴文件 -->
<tr>
<th></th>
<td><input type="button" name="sendMessageBtn"
id="sendMessageBtn" value="回复话题" class="button" onclick="validate()">
<input type="reset" name="Submit22" value="清除字段" class="button"></td>
</tr>
 <input type="hidden" name="bk" value="{$bk}"/>
  <input type="hidden" name="cid" value="{$cid}"/>
</form>
</table>
{else}
<table id="reply" width="100%">
<tr>
<th colspan="2" class="t">回复主题 <a class="return" href="{url($bk)}"><font
color="#FFFFFF">[<u> 返回版面 </u>]</font></a> <a href=#top><img
src=html/img/top.gif
border=0></a></th>
</tr>
<tr>
<th>主题：</th>
<td>{$row2[title]}</td>
</tr>
<tr>
<th></th>
<td><script language="javascript">
document.write('请先在<a href=#top><u>上部登陆</u></a>，然后<a href="'+document.location.href+'">刷新本页</a>');
</script></td>
</tr>
<tr>
<td colspan="2"><div id=__PCHOME_AD_SYS_CLUB_TOPIC_BOTTOM1></div></td>
</tr>
</table>
{/if}