<div id="right_content">
<div class="rtag">
<div class="t"><a href="javascript:void(0)"
	onclick=
	this.style.behavior = 'url(#default#homepage)';
	this.setHomePage('http://localhost/');;
>
设 <strong>[访客多论坛]</strong> 为主页 </a></div>
</div>

<div class="rtag noborder"><a>这里是图片广告的演示</a></div>

<!-- /wap -->
<div class="rtag">
<div class="c"><a href="http://localhost/" target="_blank">本站:http://localhost/</a></div>
</div>
<!-- 哇山 --> <!-- /右栏24小时 -->
<div class="rtag">
<div class="t">24小时人气排行</div>
<div class="c">
<ul>
		<li><a href="loop2,1,2,1.html" title="test title ]]&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;asfsaf"
		target=\"_blank\">test title ]]&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;asfsaf</a></li>
		<li><a href="loop2,1,6,1.html" title="test title \]]\&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;"
		target=\"_blank\">test title \]]\&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;</a></li>
		<li><a href="loop2,2,16,1.html" title="每个版面默认的都要有一个帖子"
		target=\"_blank\">每个版面默认的都要有一个帖子</a></li>
		<li><a href="loop2,1,7,1.html" title="adfdsf"
		target=\"_blank\">adfdsf</a></li>
		<li><a href="loop2,1,3,1.html" title="test title \]]\&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;"
		target=\"_blank\">test title \]]\&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;</a></li>
		<li><a href="loop2,1,4,1.html" title="test title \]]\&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;"
		target=\"_blank\">test title \]]\&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;</a></li>
		<li><a href="loop2,1,5,1.html" title="test title \]]\&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;"
		target=\"_blank\">test title \]]\&lt;?&gt;.,l&#039;;2132187389&amp;%$$!@!(&amp;@ &lt;table&gt;</a></li>
	</ul>
</div>
</div>

<!-- /版主推荐 -->
<div class="rtag">
<div class="t">版主推荐</div>
<div class="c">
<ul>
	</ul>
</div>
</div>


<!-- 推荐热图 -->
<div class="rtag">
<div class="t">推荐热图</div>
<div class="c">
<ul class="piclist">
		<li><a href="loop2,1,22,1.html" title="图片水印问题"
		target=\"_blank\"> <img src="html/up/img/1269071448.jpg" /><br />
	图片水印问题</a></li>
		<li><a href="loop2,1,19,1.html" title="水印啊~~要死了"
		target=\"_blank\"> <img src="html/up/img/1269069308.jpg" /><br />
	水印啊~~要死了</a></li>
		<li><a href="loop2,1,10,1.html" title="nvnv"
		target=\"_blank\"> <img src="html/up/img/1269064735.jpg" /><br />
	nvnv</a></li>
		<li><a href="loop2,1,8,1.html" title="热图"
		target=\"_blank\"> <img src="html/up/img/1269064657.jpg" /><br />
	热图</a></li>
	</ul>
</div>
</div>

</div>