<div id="right_content">
<div class="rtag">
<div class="t"><a href="javascript:void(0)"
	onclick=
	this.style.behavior = 'url(#default#homepage)';
	this.setHomePage('http://www.fkduo.cn/');;
>
设为主页 </a></div>
</div>

<div class="rtag noborder"><a
	href="http://count.chanet.com.cn/click.cgi?a=236736&d=101769&u=&e="
	target="_blank"><IMG
	SRC="http://file.chanet.com.cn/image.cgi?a=236736&d=101769&u=&e="
	width="180" height="130" border="0"></a></div>

<!-- /wap -->
<div class="rtag">
<div class="c"><a href="http://www.fkduo.cn/" target="_blank">本站:http://www.fkduo.cn/</a></div>
</div>
<!-- 哇山 --> <!-- /右栏24小时 -->
<div class="rtag">
<div class="t">24小时人气排行</div>
<div class="c">
<ul>
	<li><a href="loop2.php?bk=1&cid=1&now=1" title="恭喜您，安装成功啦！"
		target=\"_blank\">恭喜您，安装成功啦！</a></li>
	<li><a href="loop2.php?bk=1&cid=2&now=1" title="test" target=\"_blank\">test</a></li>
</ul>
</div>
</div>

<!-- /版主推荐 -->
<div class="rtag">
<div class="t">版主推荐</div>
<div class="c">
<ul>
	<li><a href="loop2.php?bk=1&cid=2&now=1" title="test" target=\"_blank\">test</a></li>
</ul>
</div>
</div>


<!-- 推荐热图 -->
<div class="rtag">
<div class="t">推荐热图</div>
<div class="c">
<ul class="piclist">
</ul>
</div>
</div>

</div>