{xingTemplate head}
{xingTemplate $listtop}

{while ($row=mysql_fetch_array($query)) }
<ul class="list_item">
<li class="i1">
<a href="loop2.php?cid={$row[cid]}&bk={$row[bk]}" target=_blank>
{if ($row[huifu]=='0')}
<img src="html/img/topic_n.gif" border=0>
{else}
<img src="html/img/gif5.gif" border=0>
{/if}
</a>
</li>
<li class="i2">{$row[click]}</li>
<li class="i3"><font color='#CC0000'>{$row[sort]}</font>
{if ($row[img]=="0")}
<a href="loop2.php?cid={$row[cid]}&bk={$row[bk]}" title="{$row[title]}" target="_blank">{$row[title]}</a> 
{else}
<a onmouseout="HideLayerAlbum()" onmousemove="ShowLayerAlbum('{$row[img]}')" href="loop2.php?cid={$row[cid]}&bk={$row[bk]}" title="{$row[title]}" target="_blank">{$row[title]}</a> <img src="html/img/dv.gif">
{/if}
</li>
<li class="i4">{$row[huifu]} </li>
<li class="i5">
<a href="info.php?logname={$row[firstlogname]}" target=_blank >{$row[firstnkname]}</a>
</li>
<li class="i6">{uuuw($row[firsttime])}</li>
<li class="i7">
<a href="info.php?logname={$row[lastlogname]}" target=_blank >{$row[lastnkname]}</a>
</li>
<li class="i8">{uuuy($row[lasttime])}</li>
</ul> 
{/while}
</form>




<!-- 翻页 -->
<div class="pager">
<a class="reload" href="search.php?bk={$bk}&now={$now}&action={$action}&keyword={$kk1}">[ 刷新本页 ]</a> 
共有 <b>{$pages}</b> 页,现在是第 <b>{$now}</b> 页,转到 <input name="nowpage" id="nowpage" type="text" size="2" value='1' onKeyPress="var code =event.keyCode;if(code==13){location='search.php?bk={$bk}&action={$action}&keyword={$kk1}&now='+document.getElementById('nowpage').value+'&search=0'; return false; } else {return true;}"> 页 
&nbsp;{$theup}&nbsp;{$thedown}
</div>
<!-- /翻页 --> 
<!-- 说明信息 -->
<ul id="topic_type">
<li><img src="html/img/gif5.gif" />含有回复的话题</li>
<li><img src="html/img/topic_t.gif" />置于顶部的话题</li>
<li><img src="html/img/topic_n.gif" />没有回复的话题</li>
<li><img src="html/img/notice.gif" />版面通告</li>
<li><img src="html/img/topic_lock.gif" />已关闭的话题</li>
<li><img src="html/img/club1tag.gif" />精华话题</li> 
</ul>
<!-- /说明信息 -->
<!-- 插入主题列表 -->
</div>
<!-- /左边 -->
<!-- 右边 -->
{xingTemplate right}
<!-- /右边 -->
<br class="nof" /> 
</div>
<!-- /主要框架 -->
<!-- 插入尾部 -->
{xingTemplate foot}